In [1]:
import pandas as pd

In [6]:
msa = pd.read_csv('data/susb/MSA_wikipedia.csv',delimiter='\t')

In [7]:
msa

,Rank,Metropolitan statistical area,2019 estimate,2010 Census,% change,Encompassing combined statistical area
0,1,"New York City-Newark-Jersey City, NY-NJ-PA MSA",19216182,18897109,+1.69%,"New York-Newark, NY-NJ-CT-PA CSA"
1,2,"Los Angeles-Long Beach-Anaheim, CA MSA",13214799,12828837,+3.01%,"Los Angeles-Long Beach, CA CSA"
2,3,"Chicago-Naperville-Elgin, IL-IN-WI MSA",9458539,9461105,−0.03%,"Chicago-Naperville, IL-IN-WI CSA"
3,4,"Dallas-Fort Worth-Arlington, TX MSA",7573136,6366542,+18.95%,"Dallas-Fort Worth, TX-OK CSA"
4,5,"Houston-The Woodlands-Sugar Land, TX MSA",7066141,5920416,+19.35%,"Houston-The Woodlands, TX CSA"
...,...,...,...,...,...,...
379,380,"Grand Island, NE MSA",75553,72726,+3.89%,NaN
380,381,"Lewiston, ID-WA MSA",62990,60888,+3.45%,NaN
381,382,"Enid, OK MSA",61056,60580,+0.79%,NaN
382,383,"Walla Walla, WA MSA",60760,58781,+3.37%,NaN
383,384,"Carson City, NV MSA",55916,55274,+1.16%,"Reno-Carson City-Fernley, NV CSA"